{% extends 'base.html.twig' %}

{% block title %}Connexion au Site{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="bg-light py-3  px-3">
                <h1>Connctez Vous </h1>
                {% if hasError  %}
                    <div class="alert-danger alert">Une Erreur es survenue
                    le nom d'ulisateur ou le password invalid</div>
                {% endif %}
                <form action="{{ path('account_login') }}" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse Email .... " required value="{{ username }}">
                    </div>

                    <div class="form-group">
                        <label for="password">mote de passe</label>
                        <input type="password" name="_password" id="password" class="form-control" placeholder="Mote de passe ... " required>

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success"> Connexion!</button>
                    </div>
                </form>
             </div>
        </div>
    </div>
</div>
{% endblock %}
