{% extends 'base.html.twig' %}
{% block title %}
Modification de mot de passe
{% endblock %}

{% block body %}

    <div class="container">

        <h1>Modification du  mot de passe</h1>

        {{ form_start(test) }}
        {{ form_widget(test) }}
        <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
    {{ form_end(test) }}
    </div>

{% endblock %}


