{% extends 'base.html.twig' %}
{% block title %}
Creation d'une annonce
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Creation une Nouvelle annonce</h1>
            {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">ajouter</button>
        {{ form_end(form) }}
    </div>

{% endblock %}


